<.header>
  Champions
</.header>

<div class="px-2">
  <h1 class="text-l font-semibold">Filters</h1>

  <div class="flex flex-col py-2 gap-2">
    <p>Roles</p>
    <.live_component module={ChampionFilters} id="role-filters" selectedrole={@selected_role || "all" } />
  </div>

  <.live_component module={PatchSelector} id="patch-selector" />

  <div class="h-4"></div>

  <.render_champions champions={@champions} />
</div>