<.header>
  Champion <%= @champion.id %>
  <:subtitle>This is a champion record from your database.</:subtitle>
  <:actions></:actions>
</.header>

<.back navigate={~p"/champions"}>Back to champions</.back>
